.shows{
	@include size(100vw, 100vh);
	background-image: url('../img/shows-bg.jpg');
	background-size: cover;
	background-position: right top;

	.bit-widget-container {
	    width: 50vw;
	    position: absolute;
	    right: 0;
	    top: 100px;
	    padding: 0 30px 0;
	    font-weight: 300;
	    text-transform: uppercase;
	    color: #ffffff;

	    @include media($md-mobile){
	    	width: 80vw;
	    }

	    @include media($sm-mobile){
	    	width: 100vw;
	    }

	    .bit-event-list-title {
		    padding: 10px 12px 30px 0px;
		    display: inline-block;
		    text-transform: uppercase;
		    font-weight: 500;
		    font-size: 1.75rem;
		}

		.bit-upcoming-events, .bit-past-events {
		    border-bottom: 0!important;
		}

		.bit-details {
		    font-size: 11px;
		    font-weight: 300;

		    .bit-date {
    			font-weight: 400!important;
			}
		}

		.bit-button {
		    background-color: transparent;
		    color: white;
		    border: 1px solid #ffffff;
		    font-weight: 400!important;
		    font-size: 12px!important;
		}
		
		.bit-events-container{
			.bit-no-dates-container {
			    margin: 0px 10px!important;
			    padding: 20px 0px!important;

			    .bit-no-dates-title {
					font-weight: 500!important;
				}
				> div:not(.bit-no-dates-title) {
					display: none!important;
				}
			}	
		}
	}

}